*~
#*
*.pyc
*.so
*.o
*.pickle
*.dll
*.exe
*.tar
*.zip
*.jar
*.rar
*.log
.DS_Store
.DS_Store?
.Trashes
Thumbs.db
*.pyo
*.dylib
*.a
*.out
*.slo
*.d
*.lai
*.mod
*.smod
*.app
build/
__pycache__/
CMakeFiles/
CMakeCache.txt
